name: Traductor de IP Directo
on:
  workflow_dispatch: # Para que lo actives tú mismo con un clic

jobs:
  actualizar:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Reemplazo Forzado
        run: |
          # REEMPLAZO DIRECTO: Ponemos TU IP real aquí para dejar de adivinar
          # (Reemplaza 181.43.120.182 por la IP que te mostró la página)
          sed "s/deportes.ksdjugfsddeports.com/181.43.120.182/g" lista_maestra.txt > lista_amigo.m3u
          
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add lista_amigo.m3u
          git commit -m "Sincronización manual forzada" || echo "Sin cambios"
          git push origin main
