name: Traductor de IP Eficaz

on:
  repository_dispatch:
    types: [update_ip]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v2

      - name: Actualizar IP en la Lista
        run: |
          # 1. Recibir la IP que envía el botón de la web
          IP_ACTUAL="${{ github.event.client_payload.ip_usuario }}"
          
          # 2. Validar que la IP no llegue vacía
          if [ -z "$IP_ACTUAL" ]; then
            echo "Error: No se recibió la IP del usuario"
            exit 1
          fi

          # 3. Reemplazar el dominio por tu IP real en la lista
          sed "s/deportes.ksdjugfsddeports.com/$IP_ACTUAL/g" lista_maestra.txt > lista_amigo.m3u
          
          # 4. Guardar y subir los cambios a tu repositorio
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add lista_amigo.m3u
          git commit -m "Lista actualizada con IP real: $IP_ACTUAL" || echo "Sin cambios"
          git push origin main
