name: Traductor de IP Eficaz

on:
  repository_dispatch:
    types: [update_ip]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Reemplazo Quirúrgico de IP
        run: |
          IP_USUARIO="${{ github.event.client_payload.ip_usuario }}"
          
          # Si no viene IP del botón, el robot se auto-detecta
          if [ -z "$IP_USUARIO" ] || [ "$IP_USUARIO" == "null" ]; then
            IP_USUARIO=$(curl -s https://ifconfig.me)
          fi

          echo "Procesando con IP: $IP_USUARIO"

          # Usamos una variable para el dominio y que el comando sea limpio
          DOMINIO="deportes.ksdjugfsddeports.com"
          
          # REEMPLAZO: Cambiamos el dominio por la IP de forma exacta
          sed "s/$DOMINIO/$IP_USUARIO/g" lista_maestra.txt > lista_amigo.m3u

          # Guardar cambios en GitHub
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add lista_amigo.m3u
          git commit -m "IP Actualizada: $IP_USUARIO" || echo "Sin cambios"
          git push origin main
