name: Traductor de IP eficaz
on:
  repository_dispatch:
    types: [update_ip]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Actualizar Lista
        run: |
          # 1. Obtenemos tu IP actual de Chile
          IP_ACTUAL=$(curl -s https://ifconfig.me)
          
          # 2. Cambiamos la IP vieja (172.182.211.20) por la tuya
          # Usamos un comando simple que no falla
          sed "s/172.182.211.20/$IP_ACTUAL/g" lista_maestra.txt > lista_amigo.m3u
          
          # 3. Subir cambios de vuelta a GitHub
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add lista_amigo.m3u
          git commit -m "IP actualizada: $IP_ACTUAL" || exit 0
          git push origin main
