name: Traductor de IP Eficaz

on:
  repository_dispatch:
    # Este es el nombre del evento que debe coincidir en Pipedream
    types: [update_ip]
  workflow_dispatch: # Esto permite que también lo pruebes a mano en GitHub

jobs:
  actualizar:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar Repositorio
        uses: actions/checkout@v3

      - name: Procesar IP
        run: |
          # Prioridad 1: IP que viene del botón. Prioridad 2: IP del servidor (por si falla el botón)
          IP_BOTON="${{ github.event.client_payload.ip_usuario }}"
          IP_SERVER=$(curl -s https://ifconfig.me)
          
          if [ -n "$IP_BOTON" ]; then
            IP_FINAL=$IP_BOTON
          else
            IP_FINAL=$IP_SERVER
          fi
          
          echo "La IP a usar es: $IP_FINAL"
          
          # Hacer el cambio en tu archivo
          sed "s/deportes.ksdjugfsddeports.com/$IP_FINAL/g" lista_maestra.txt > lista_amigo.m3u

          # Subir cambios
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add lista_amigo.m3u
          git commit -m "IP actualizada: $IP_FINAL" || echo "Sin cambios"
          git push origin main
