- name: Actualizar IP en la Lista
        run: |
          # 1. Obtener tu IP real
          IP_ACTUAL=$(curl -s https://ifconfig.me)
          
          # 2. Cambiar el dominio por tu IP usando el nombre exacto de tu archivo
          sed "s/deportes.ksdjugfsddeports.com/$IP_ACTUAL/g" lista_maestra.txt > lista_amigo.m3u
          
          # 3. Guardar y subir los cambios
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add lista_amigo.m3u
          git commit -m "Lista actualizada con IP: $IP_ACTUAL" || echo "Sin cambios"
          git push origin main
