      - name: Actualizar IP en la Lista
        run: |
          # 1. Obtenemos tu IP actual
          IP_ACTUAL=$(curl -s https://ifconfig.me)
          echo "Tu IP actual es: $IP_ACTUAL"

          # 2. REEMPLAZO AGRESIVO:
          # Esto busca cualquier texto que esté entre 'http://' y ':9092' 
          # y lo reemplaza por tu IP real. Así no importa cómo esté escrito el dominio.
          sed -r "s|http://[^:]+:9092|http://$IP_ACTUAL:9092|g" lista_maestra.txt > lista_amigo.m3u

          # 3. Subir cambios
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add lista_amigo.m3u
          git commit -m "IP actualizada a $IP_ACTUAL" || echo "Sin cambios"
          git push origin main
