name: Traductor de IP Eficaz

on:
  repository_dispatch:
    types: [update_ip]

jobs:
  actualizar:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Descargar Repositorio
        uses: actions/checkout@v3

      - name: Reemplazo Quirúrgico
        run: |
          # Capturamos la IP que viene del botón
          IP_BOTON="${{ github.event.client_payload.ip_usuario }}"
          
          # VALIDACIÓN: Si la IP viene vacía, el robot se detiene para no poner IPs de GitHub
          if [ -z "$IP_BOTON" ] || [ "$IP_BOTON" == "null" ]; then
            echo "ERROR: No se recibió la IP del usuario. Abortando para no dañar la lista."
            exit 1
          fi

          echo "Poniendo tu IP real: $IP_BOTON"
          
          # Reemplazo exacto del dominio
          sed "s/deportes.ksdjugfsddeports.com/$IP_BOTON/g" lista_maestra.txt > lista_amigo.m3u

          # Subir cambios
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add lista_amigo.m3u
          git commit -m "Lista actualizada con tu IP: $IP_BOTON" || echo "Sin cambios"
          git push origin main
