      - name: Actualizar IP en la Lista
        run: |
          # 1. Obtener tu IP
          IP_ACTUAL=$(curl -s https://ifconfig.me)
          
          # 2. Crear la lista nueva usando el nombre exacto de tu archivo
          sed "s/deportes.ksdjugfsddeports.com/$IP_ACTUAL/g" lista_maestra.txt > lista_amigo.m3u
          
          # 3. Configurar usuario y subir cambios
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add lista_amigo.m3u
          git commit -m "IP actualizada: $IP_ACTUAL" || echo "No hay cambios"
          git push
