- name: Actualizar IP en la Lista
        run: |
          # 1. Obtener tu IP actual
          IP_ACTUAL=$(curl -s https://ifconfig.me)
          
          # 2. Reemplazar el dominio por tu IP en una lista nueva
          # Cambiamos 'deportes.ksdjugfsddeports.com' por tu IP real
          sed "s/deportes.ksdjugfsddeports.com/$IP_ACTUAL/g" lista_maestra.txt > lista_amigo.m3u
          
          # 3. Subir los cambios a GitHub
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add lista_amigo.m3u
          git commit -m "Lista actualizada con IP: $IP_ACTUAL"
          git push
