      - name: Actualizar IP en la Lista
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # 1. Obtener IP
          IP_ACTUAL=$(curl -s https://ifconfig.me)
          
          # 2. Crear lista nueva desde la maestra
          sed "s/deportes.ksdjugfsddeports.com/$IP_ACTUAL/g" lista_maestra.txt > lista_amigo.m3u
          
          # 3. Subir cambios usando el Token interno
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add lista_amigo.m3u
          git commit -m "IP actualizada: $IP_ACTUAL" || echo "Sin cambios"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main
